[Unit]
Description=superset
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/bin/superset runserver -p 8088
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

